/*Page Search
------------------------------------*/
/*Search Block*/
.header .logo img {
	width: 150px;
	margin: 5px 0;
}

.search-block {
	padding: 120px 0;
	background: url(../img/banner.jpg) 50% 0 repeat fixed;		
}

.header {
	border-bottom: solid 2px #fff;
}