---
---
@import url('https://fonts.googleapis.com/css?family=Slabo+27px');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

$gray: #ccc;
$light-gray: #f7f7f7;
$dark-gray: #333;

$light-blue: #a1a7ad;
$baby-blue: #eff3f6;


body {
	font-family: 'Open Sans', sans-serif;
}

.front-page {
	background-color: $baby-blue;
	.hero {
		text-align: center;
		position: relative;
		padding: 100px 0;
		margin-bottom: 0;
		background: 
			linear-gradient(
			  rgba(0, 0, 0, 0.3), 
			  rgba(0, 0, 0, 0.3)
			),
			url({{ site.baseurl }}/img/banner.jpg) 50% 0 fixed;	
		background-size: cover;
		border-top: 2px solid #ccc;
		&:before {
			background: rgba(0, 0, 0, 0.3);
		}
		.logo {
			width: 100%;
			max-width: 350px;
			margin-bottom: 20px;
		}
		h1 {
			color: #fff;
			font-family: 'Roboto Slab', serif;
			font-size: 34px;
			text-align: center;
			margin: 60px 0 10px 0;
			background: rgba(0, 0, 0, 0.75);
			padding: 10px 0;
		}
	}
	.intro {
		padding: 30px 15px;
		.highlight {
			color: #ee3223;
		}
	}
	.sections, .case-studies, .tools {
		margin-bottom: 60px;
		box-shadow: 0 0 1px 1px #333;
		.col-link {
			padding-left: 0;
			padding-right: 0;
			.wrapper {
				position: relative;
				img {
					width: 100%;
				}
				img.black {
					opacity: 0.5;
					position: absolute;
					left: 0;
					top: 0;
					&:hover {
						opacity: 0.3
					}
				}
				.text {
					color: #fff;
					position: absolute;
					width: 100%;
					padding: 0 10%;
					text-align: center;
					font-size: 2em;
					top: 30%;
					z-index: 5;
					pointer-events: none;
					&.sub-text {
						top: 60%;
					}
				}
			}
		}
	}
	.about {
		background-color: $light-blue;
		padding: 20px 0; 
	}
}

.header {	
	.logo img {
		height: 35px;
		margin: 5px 0;
	}

	.navbar {
		margin-bottom: 0;
		border-radius: 0;
    background-color: #fcfcfc;
    border: none;
	}
	.navbar-right {
		li {
			border-bottom: 2px solid #fcfcfc;
			&:hover {
				border-bottom: 2px solid $dark-gray;
			}
		}
		li.active {
			border-bottom: 2px solid $dark-gray;
		}
	}
}

.breadcrumbs {
  overflow: hidden;
  padding: 10px 0 6px;
  border-bottom: solid 1px #eee;
	border-top: solid 1px #eee;
	background: url(/img/breadcrumbs.png) repeat;
	h1 {
	  color: #666;
	  font-size: 22px;
	  margin-top: 8px;
	}
	.breadcrumb {
	  top: 10px;
	  z-index: 1;
	  padding-right: 0;
	  background: none;
	  position: relative;
	}
}

@media (max-width: 550px) {
  .breadcrumbs h1.pull-left,
  .breadcrumbs ul.pull-right {
    width: 100%;
    text-align: center;
  }

  .breadcrumbs h1.pull-left {
    margin-bottom: 0;
  }

  .breadcrumbs .breadcrumb {
    top: 0;
    margin-bottom: 10px;
  }
}

.btn-read-more {
	padding: 0px 8px !important;
	font-size: 11px !important;
}

.fixed-to-top {
  position: fixed;
  top: 0;
  padding: 0 15px;
  width: 390px;
}

@media (max-width: 1200px) {
	.fixed-to-top {
    width: 323.33px;
	}
}

.case-studies .block-grid-v2-info {
	margin-bottom: 20px;
}

footer {
	background-color: #333;
	padding-top: 15px;
	padding-bottom: 15px;
	p {
		color: #fff;
	}
}

.content-infobox {
	padding: 10px;
	width: 50%;
	float: right;
	margin: 0 0 0 10px;
	background-color: #eee;
}

.handbook {
	margin-top: 30px;
	margin-bottom: 30px;
	.section {
		padding-top: 20px;
	}
	h3 {
		margin-top: 0;
	}
	.row {
		padding-bottom: 20px;
	}
}

.bg-gray {
	background-color: $light-gray;
}

.handbook-chapter {
	.basic-info {
		padding-top: 30px;
		padding-bottom: 30px;
		img {
			border-radius: 5px;
		}
	}
}

.toc-list {
	margin-top: 20px;
	li {
		padding-bottom: 5px;
		padding-left: 5px;
		border-left: 3px solid $light-gray;
	}
}

#chapter-content {
	margin-top: 20px;
	img {
		max-width: 100%;
	}
	.highlight {
		background-color: $light-gray;
		margin-bottom: 0;
		padding: 10px;
	}
	.image-caption {
    color: $dark-gray;
    margin: 10px 0 20px 0;
    font-size: 12px;
    font-style: italic;
    text-align: center;
	}
}

.handbook-chapter, .image-menu {
	h1, h2, h3, h4, h5 {
		font-family: 'Roboto Slab', serif;
	} 
}