---
# Only the main Sass file needs front matter (the dashes are enough)
---
@import
  "app",
  "block-grid",
  "breadcrumbs",
  "header-default",
  "page-search",
  "timeline",
  "style",
  "blue"
;

.header {
	box-shadow: 0 1px 1px #ccc;
	background-color: #fcfcfc;
	border-bottom: solid 2px #fcfcfc;
}

.header .logo img {
	height: 35px;
	margin: 5px 0;
}

.search-block {
	padding: 100px 0;
	background: 
		linear-gradient(
		  rgba(0, 0, 0, 0.3), 
		  rgba(0, 0, 0, 0.3)
		),
		url({{ site.github.url }}/img/banner.jpg) 50% 0 repeat fixed;		
}

.search-block .logo {
	width: 100%;
	max-width: 350px;
	margin-bottom: 20px;
}

.block-grid-v1 {
	padding-bottom: 15px;
}

.block-grid-v1:hover {
  border-color: #eee;
}

.content-md {
	padding-top: 40px;
	padding-bottom: 40px;
}

.header .navbar-nav > li:hover > a {
	color: #3498db;
}

.header .navbar-nav > li > a:hover, .header .navbar-nav > .active > a {
	border-bottom: solid 2px #3498db;
}

.breadcrumbs {
	background: url(/img/breadcrumbs.png) repeat;
	border-top: solid 1px #eee;
}

.breadcrumb li.active, .breadcrumb li a:hover {
	color: #3498db;
}

.city-profile img {
	border-radius: 5px;
	width: 100%;
}

.city-profile {
	border-radius: 5px;
}

.city-profile dt {
	padding-left: 0;
}

blockquote:hover, blockquote.text-right:hover {
	border-color: #3498db;
}

.btn-read-more {
	padding: 0px 8px !important;
	font-size: 11px !important;
}

.fixed-to-top {
  position: fixed;
  top: 20px;
  padding: 0 15px;
  width: 390px;
}

@media (max-width: 1200px) {
	.fixed-to-top {
    width: 323.33px;
	}
}

.header .navbar-nav > .active > a {
	color: #3498db;
}

.timeline-v2:before, .timeline-v2 > li .cbp_tmicon {
	left: 2%;
}

.timeline-v2 > li .cbp_tmlabel {
	margin: 0 0 25px 4%
}

.timeline-v2 > li .cbp_tmicon {
	background: #3498db;
}

.timeline-v2 > li .cbp_tmlabel h2 {
	font-size: 17px;
}

@media screen and (max-width: 47.2em) {
	.timeline-v2 > li .cbp_tmlabel {
    padding: 1em;
    font-weight: 400;
    margin: 0 0 30px 0;
	}
}

.case-studies .block-grid-v2-info {
	margin-bottom: 20px;
}