---
layout: base
active: home
---
<div class="front-page">
	
	<div class="hero">
		<div class="container">
			<div class="col-md-6 col-md-offset-3">
				<img class="logo" src="img/logo.png" alt="Logo">
				<h1>Handbook on Culture and Urban Disaster</h1>
			</div>
		</div>
	</div>

	<div class="intro">
		<div class="container">
			<h3>
			</h3>
		</div>
	</div>

	<div class="container">
		<div class="row sections image-menu">
			{% for section in site.sections %}
				<a class="col-md-4 col-sm-6 col-link" href="{% if section.name == 'introduction' %}/handbook/0.1-introduction{% else %}/handbook#{{ section.name }}{% endif %}">
					<div class="wrapper">
						<h1 class="text">{{ section.title }}</h1>
						<img class="img-responsive black" src="img/sections/black.png">
						<img class="img-responsive" src="img/sections/{{ section.image }}" alt="{{ section.title }}">
					</div>
				</a>
			{% endfor %}
		</div>
	</div>

	<div class="container">
		<div class="row tools image-menu">
			{% for tool in site.tools %}
				<a class="col-md-3 col-sm-6 col-link" href="{{ tool.url }}">
					<div class="wrapper">
						<h1 class="text">{{ tool.title }}</h1>
						<img class="img-responsive black" src="img/tools/black.png">
						<img class="img-responsive" src="img/tools/{{ tool.image }}" alt="{{ tool.title }}">
					</div>
				</a>
			{% endfor %}
		</div>
	</div>

	<div class="container">
		<h1>Case studies</h1>
		<div class="row case-studies image-menu">
			{% for study in site.case-studies %}
				<a class="col-md-3 col-sm-6 col-link" href="{{ study.url }}">
					<div class="wrapper">
						<h1 class="text">{{ study.title }}</h1>
						<img class="img-responsive black" src="img/case-studies/black.png">
						<img class="img-responsive" src="img/case-studies/{{ study.image }}" alt="{{ study.title }}">
					</div>
				</a>
			{% endfor %}
				<a class="col-md-3 col-sm-6 col-link">
					<div class="wrapper">
						<img class="img-responsive" src="img/case-studies/black.png" alt="{{ study.title }}">
					</div>
				</a>
		</div>
	</div>

	<div class="about">
		<section class="container">
			<h2 id="about">About EDUCEN</h2>
			<div class="row">
				<div class="col-sm-6">
					<p>
						EDUCEN stands for European Disasters in Urban Centers: a Culture Expert Network. It focuses on the role of culture in disaster management and risk. EDUCEN consists of 10 participant organizations from 7 different European countries. The project has received funding from the European Commission.
					</p>
					<p>
						EDUCEN is an EU-funded collaboration and support action focussing on the role of culture in disaster management and risk. EDUCEN is a consortium consisting of 10 participant organizations from 7 different European countries. 
					</p>
					<p>
						Central to the EDUCEN project is the idea that cultures, the ’soft infrastructure’, hold important assets to disaster-affected communities; disaster managers and disaster-affected people alike. Our premise is that culture and cultural diversity are not just a challenge creating barriers, but are in fact reservoirs of assets that people have available to them to prevent, mitigate, prepare for, cope with and adapt to disaster risks– cognitively and practically. 
					</p>
					<a class="btn btn-default" href="/authors.html">EDUCEN authors</a>
				</div>
				<div class="col-sm-6">
					<p>
						The overarching aim of EDUCEN is to build on existing European networks and with them identify actions to build and support culture and cultural diversity. The networking and support actions, which are central in EDUCEN’s approach, will be directed at increasing the effectiveness of DRR design by including culture as a valuable component in all phases of disaster risk management: prevention, mitigation, preparedness and response and reconstruction.
					</p>
					<p>
						This will contribute to more resilient cities that are able to meet the needs of their various cultures and subcultures during disaster relief hopefully leading to a lower number of fatalities while also reducing reaction time when disaster strikes.
					</p>
					<p>If you'd like to get in touch, please email Jeroen Warner at <a href="mailto:jeroen.warner@wur.nl">jeroen.warner@wur.nl</a>.</p>
					<p>You might also be interested in the<a href="https://drive.google.com/file/d/0B5L3EK3ILtDfaHFLcXVUYWhsb28/view">Report on review of State of the Art: Culture, DRR and Cities</a> and this <a href="http://www.educenproject.eu/games-and-simulations">reading on gameography</a>.</p>
					<p>Lastly, we'd like to refer you to the general project website: <a target="_blank" href="http://educenproject.eu">educenproject.eu</a>.</p>
				</div>
			</div>
		</section>
	</div>

</div>