<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
      	<p>
      		Project Coordinator:<br>
      		Dr. Jeroen F. Warner<br>
      		​​Wageningen University. Disaster Studies<br>
      		Hollandseweg 1; 6706KN WAGENINGEN
      	</p>
      </div>
      <div class="col-md-6">
        <p class="pull right">
          This project has received funding from the European Union’s Horizon 2020 research and innovation programme under grant agreement No 653874
        </p>
      </div>
    </div>
</footer>