/*
* Version: 1.8
* Blue Color: #3498db;
* Blue Hover Color: #2980b9;
* Additional color: #deeffc;
* rgba(52, 152, 219, 1);
*/

a {
  color: #3498db;
}
a:focus,
a:hover,
a:active {
	color: #3498db;
}
.color-green {
	color: #3498db;
}
a.read-more:hover {
	color:#3498db;
}
.linked:hover {
	color:#3498db;
}

/* Headers Default
------------------------------------*/
.header .navbar-nav > .active > a {
  color: #3498db;
}
.header .navbar-nav > .active > a {
  border-color: #3498db;
}
.header .dropdown-menu {
	border-top: solid 2px #3498db;
}
.header .navbar-nav > li:hover > a {
  color: #2980b9;
}
.header .nav > li > .search:hover {
  border-bottom-color: #2980b9;
  color: #2980b9;
}
.header .navbar-nav > li > a:hover,
.header .navbar-nav > .active > a {
  border-bottom-color: #3498db;
}
.header .navbar-toggle {
  border-color: #2980b9;
}
.header .navbar-toggle,
.header .navbar-toggle:hover,
.header .navbar-toggle:focus {
  background:  #3498db;
}
.header .navbar-toggle:hover {
  background:  #2980b9 !important;
}
.header .navbar-nav > .open > a,
.header .navbar-nav > .open > a:hover,
.header .navbar-nav > .open > a:focus {
  color: #3498db;
}

/* Design for max-width: 991px */
@media (max-width: 991px) {
	.header .navbar-nav > .active > a,
	.header .navbar-nav > .active > a:hover,
	.header .navbar-nav > .active > a:focus {
	  background:  #3498db;
	  color: #fff !important;
	}
	.header .navbar-nav > .active > a {
	  border-color: #eee;
	}
	.header .nav > li > .search:hover {
	  background:  #3498db;
	}
}

/* Buttons
------------------------------------*/
.btn-u {
	background: #3498db;
}
.btn-u:hover,
.btn-u:focus,
.btn-u:active,
.btn-u.active,
.open .dropdown-toggle.btn-u {
	background: #2980b9;
	color: #fff;
}

/* Buttons Color */
.btn-u-split.dropdown-toggle {
   border-left: solid 1px #2980b9;
}

/* Bordered Buttons */
.btn-u.btn-brd {
  border-color: #3498db;
}
.btn-u.btn-brd:hover {
  color: #2980b9;
  border-color: #2980b9;
}
.btn-u.btn-brd.btn-brd-hover:hover {
  background: #2980b9;
}

/* Thumbnail (Recent Work)
------------------------------------*/
.thumbnail-style h3 a:hover {
	color:#3498db;
}
.thumbnail-style a.btn-more {
	background:#3498db;
}
.thumbnail-style a.btn-more:hover {
	box-shadow:0 0 0 2px #2980b9;
}

/* Typography
------------------------------------*/
/* Heading */
.headline h2,
.headline h3,
.headline h4 {
	border-bottom:2px solid #3498db;
}

/* Blockquote */
blockquote:hover {
	border-left-color:#3498db;
}
.hero {
	border-left-color: #3498db;
}
blockquote.hero.hero-default {
  background: #3498db;
}
blockquote.hero.hero-default:hover {
  background: #2980b9;
}

/* Carousel
------------------------------------*/
.carousel-arrow a.carousel-control:hover {
	color: #3498db;
}

/* Footer
------------------------------------*/
.footer a,
.copyright a,
.footer a:hover,
.copyright a:hover {
	color: #3498db;
}

/* Footer Blog */
.footer .dl-horizontal a:hover {
	color:#3498db !important;
}

/* Tabs
------------------------------------*/
/* Tabs v1 */
.tab-v1 .nav-tabs {
	border-bottom: solid 2px #3498db;
}
.tab-v1 .nav-tabs > .active > a,
.tab-v1 .nav-tabs > .active > a:hover,
.tab-v1 .nav-tabs > .active > a:focus {
	background: #3498db;
}
.tab-v1 .nav-tabs > li > a:hover {
	background: #3498db;
}

/* Tabs v2 */
.tab-v2 .nav-tabs li.active a {
	border-top: solid 2px #3498db;
}

/* Tabs v3 */
.tab-v3 .nav-pills li a:hover,
.tab-v3 .nav-pills li.active a {
	background: #3498db;
	border: solid 1px #2980b9;
}

/* Tabs v6 */
.tab-v6 .nav-tabs > li.active > a,
.tab-v6 .nav-tabs > li.active > a:hover,
.tab-v6 .nav-tabs > li.active > a:focus {
	border-color: #3498db;
}

.tab-v6 .nav-tabs > li > a:hover {
	border-bottom: 1px solid #3498db;
}

/* Accardion
------------------------------------*/
.acc-home a.active,
.acc-home a.accordion-toggle:hover {
	color:#3498db;
}
.acc-home .collapse.in {
	border-bottom:solid 1px #3498db;
}

/* Testimonials
------------------------------------*/
.testimonials .testimonial-info {
	color: #3498db;
}
.testimonials .carousel-arrow i:hover {
	background: #3498db;
}

/* Info Blocks
------------------------------------*/
.info-blocks:hover i.icon-info-blocks {
	color: #3498db;
}

/* Breadcrumb
------------------------------------*/
.breadcrumb li.active,
.breadcrumb li a:hover {
	color:#3498db;
}

/* About Page
------------------------------------*/
.team .thumbnail-style:hover h3 a {
	color:#3498db !important;
}

/* Social Icons */
.team ul.team-socail li i:hover {
	background: #3498db;
}

/* Right Sidebar
------------------------------------*/
/* Right Sidebar */
.who li i,
.who li:hover i,
.who li:hover a {
	color:#3498db;
}

/* Privacy Page
------------------------------------*/
.privacy a:hover {
	color:#3498db;
}

/* Portfolio Page
------------------------------------*/
/* Portfolio v1 */
.view a.info:hover {
	background: #3498db;
}

/* Portfolio v2 */
.sorting-block .sorting-nav li.active {
	color: #3498db;
	border-bottom: solid 1px #3498db;
}
.sorting-block .sorting-grid li a:hover span.sorting-cover {
	background: #3498db;
}

/* Icons Page
------------------------------------*/
.icon-page li:hover {
	color:#3498db;
}

/* Glyphicons */
.glyphicons-demo a:hover {
	color: #3498db;
	text-decoration: none;
}

/* Social Icons
------------------------------------*/
.social-icons-v1 i:hover {
  color: #fff;
  background: #3498db;
}

/* Sidebar Features */
.magazine-page h3 a:hover {
	color: #3498db;
}

/* Page Features
------------------------------------*/
/* Tag Boxes v1 */
.tag-box-v1 {
	border-top: solid 2px #3498db;
}

/* Tag Boxes v2 */
.tag-box-v2 {
	border-left: solid 2px #3498db;
}

/* Tag Boxes v7 */
.tag-box-v7 {
	border-bottom: solid 2px #3498db;
}

/* Font Awesome Icon Page Style */
.fa-icons li:hover {
  color: #3498db;
}
.fa-icons li:hover i {
  background: #3498db;
}

/* GLYPHICONS Icons Page Style */
.bs-glyphicons li:hover {
  color: #3498db;
}

/* Navigation
------------------------------------*/
/* Pagination */
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #3498db;
  border-color: #3498db;
}
.pagination li a:hover {
  background: #2980b9;
  border-color: #2980b9;
}

/* Pager */
.pager li > a:hover,
.pager li > a:focus {
  background: #2980b9;
  border-color: #2980b9;
}
.pager.pager-v2 li > a:hover,
.pager.pager-v2 li > a:focus,
.pager.pager-v3 li > a:hover,
.pager.pager-v3 li > a:focus {
  color: #fff;
  background: #3498db;
}

/* Timeline v1 Page
------------------------------------*/
.timeline-v1 > li > .timeline-badge i:hover {
	color: #3498db;
}
.timeline-v1 .timeline-footer .likes:hover i {
	color: #3498db;
}

/* Timeline v2 Page
------------------------------------*/
/* The icons */
.timeline-v2 > li .cbp_tmicon {
	background: #3498db;
}

/* Blockquote
------------------------------------*/
blockquote.bq-green {
  border-color: #3498db;
}
blockquote:hover,
blockquote.text-right:hover {
  border-color: #3498db;
}
.quote-v1 p::before {
  color: #3498db;
}

/* Typography
------------------------------------*/
.dropcap {
	color: #3498db;
}

.dropcap-bg {
	color: #fff;
	background: #3498db;
}

/* Breadcrumbs
------------------------------------*/
span.label-u,
span.badge-u {
  background: #3498db;
}

/* Icons
------------------------------------*/
/* Icon Link*/
.link-icon:hover i {
  color: #3498db;
  border: solid 1px #3498db;
}

.link-bg-icon:hover i {
  color: #3498db;
  background: #3498db !important;
  border-color: #3498db;
}

/* Icons Backgroun Color
------------------------------------*/
i.icon-color-u {
  color: #3498db;
  border: solid 1px #3498db;
}
i.icon-bg-u {
  background: #3498db;
}

/* Line Icon Page
------------------------------------*/
.line-icon-page .item:hover {
	color: #3498db;
}

/* Colored Content Boxes
------------------------------------*/
.service-block-u {
  background: #3498db;
}

/* Panels (Portlets)
------------------------------------*/
.panel-u {
	border-color: #3498db;
}
.panel-u > .panel-heading {
   background: #3498db;
}

/* Owl Carousel
------------------------------------*/
.owl-btn:hover {
  background: #3498db;
}

/* Counter
------------------------------------*/
.counters span.counter-icon i {
	background: #3498db;
}
.counters span.counter-icon i:after {
	border-top: 7px solid #3498db;
}

/* SKy-Forms
------------------------------------*/
/* Buttons */
.sky-form .button {
	background: #3498db;
}

/* Rating */
.sky-form .rating input:checked ~ label {
	color: #3498db;
}

/* Message */
.sky-form .message {
	color: #3498db;
}
.sky-form .message i {
	border-color: #3498db;
}

/* Profile
------------------------------------*/
.profile .profile-post:hover span.profile-post-numb {
	color: #3498db;
}
.profile .date-formats {
	background: #3498db;
}
.profile .name-location span i,
.profile .name-location span a:hover {
	color: #3498db;
}
.share-list li i {
	color: #3498db;
}
.profile .comment-list-v2 li:hover i,
.profile .comment-list li:hover i {
	color: #3498db;
}
.profile .profile-post.color-one {
	border-color: #3498db;
}

/* Pricing Page
------------------------------------*/
/* Pricing Head */
.pricing:hover h4 {
	color:#3498db;
}
.pricing-head h3 {
	background:#3498db;
	text-shadow: 0 1px 0 #2980b9;
}
.pricing-head h4 {
	color:#999;
	background:#fcfcfc;
	border-bottom:solid 1px #deeffc;
}

/* Pricing Content */
.pricing-content li {
	border-bottom:solid 1px #deeffc;
}
.pricing-content li i {
	color:#3498db;
}

/* Pricing Extra */
.sticker-left {
	background: #3498db;
}

/* Pricing Footer */
.pricing-footer a:hover,
.pricing-footer button:hover {
	background:#2980b9;
}

/* Pricing Active */
.price-active h4 {
	color:#3498db;
}
.no-space-pricing .price-active .pricing-head h4,
.no-space-pricing .pricing:hover .pricing-head h4 {
	color:#3498db;
}

/* Mega Pricing Tables
------------------------------------*/
.pricing-mega-v1 .pricing-head h3,
.pricing-mega-v2 .pricing-head h3,
.pricing-mega-v3 .pricing-head h3 {
	text-shadow: 0 1px 0 #2980b9;
}

/* Pricing Table Mega v1 Version
------------------------------------*/
.pricing-mega-v1 .pricing:hover h4 i {
	color:#3498db;
}
.pricing-mega-v1 .pricing-content li i {
	color: #3498db;
}

/* Pricing Table Colored Background Version
------------------------------------*/
.pricing-bg-colored .pricing:hover {
	background: #3498db;
}
.pricing-bg-colored .pricing-head i {
	color:#3498db;
}
.pricing-bg-colored .pricing-footer .btn-u {
	border: 1px solid #fff;
}
.pricing-bg-colored .pricing-head p {
  border-bottom: 1px solid #deeffc;
}

/* Pricing Table Mega v2
------------------------------------*/
.pricing-mega-v2 .block:hover .bg-color {
	background: #3498db;
}
.pricing-mega-v2 .block:hover h3,
.pricing-mega-v2 .block:hover h4,
.pricing-mega-v2 .block:hover li,
.pricing-mega-v2 .block:hover li i,
.pricing-mega-v2 .block:hover h4 i {
	background: #3498db;
}

/* Pricing Table Mega v3
------------------------------------*/
.pricing-mega-v1 .btn-group .dropdown-menu,
.pricing-mega-v3 .btn-group .dropdown-menu {
	background: #3498db !important;
}

.pricing-mega-v1 .btn-group .dropdown-menu li a:hover,
.pricing-mega-v3 .btn-group .dropdown-menu li a:hover {
	background: #2980b9;
}

/* Grid Block v2
------------------------------------*/
.grid-block-v2 li:hover .grid-block-v2-info {
  border-color: #3498db;
}

/* Testimonials v3 Title
------------------------------------*/
.testimonials-v3 .testimonials-v3-title p {
  color: #3498db;
}

.testimonials-v3 .owl-buttons .owl-prev:hover,
.testimonials-v3 .owl-buttons .owl-next:hover {
  background:  #3498db;
}

/* Content Boxes v4
------------------------------------*/
.content-boxes-v4 i {
  color: #3498db;
}

/* Thumbnails v1
------------------------------------*/
.thumbnails-v1 .read-more {
  color: #3498db;
}

/* Flat Background Block v1
------------------------------------*/
.flat-bg-block-v1 .checked-list i {
  color: #3498db;
}

/* Content Boxes v5
------------------------------------*/
.content-boxes-v5:hover i {
  background:  #3498db;
}

/* Block Grid v1
------------------------------------*/
.block-grid-v1:hover {
  border-color: #3498db;
}

/* Block Grid v2
------------------------------------*/
.block-grid-v2 li:hover .block-grid-v2-info {
  border-color: #3498db;
}

/* Content Boxes v6
------------------------------------*/
.content-boxes-v6:hover i:after {
  border-color: #3498db;
}
.content-boxes-v6:hover i {
  background:  #3498db;
}

/* Footer Default
------------------------------------*/
.footer-default .footer .dl-horizontal a:hover {
  color: #3498db !important;
}
.footer-default .footer a {
    color: #3498db;
}
.footer-default .footer a:hover {
  color: #2980b9;
}
.footer-default .copyright a {
  color: #3498db;
}
.footer-default .copyright a:hover {
  color: #2980b9;
}