---
layout: base
---
<div class="breadcrumbs">
  <div class="container">
    <h1 class="pull-left">Handbook</h1>
    <ul class="pull-right breadcrumb">
      <li><a href="{{ site.baseurl }}/">Home</a></li>
      <li class="active">Handbook</li>
    </ul>
  </div>
</div>

<section class="handbook container">
  {% for section in site.sections %}
    <div class="row section">
      <div class="col-sm-3 col-md-offset-2 image">
  			<a href="{{ section.url }}"><img class="img-responsive" src="/img/sections/{{ section.image }}" alt="{{ section.title }}"></a>
      </div>
      <div class="col-sm-9 col-md-5 list">
      <h3>{{ section.title }}</h3>
      <ol>
        {% for chapter in site.chapters %}
          {% if chapter.section == section.name %}
          	<li><a href="{{ chapter.url }}">{{ chapter.title }}</a></li>
          {% endif %}
        {% endfor %}
      </ol>
      </div>
    </div>
  {% endfor %}
</section>