---
layout: base
---
<div class="breadcrumbs">
  <div class="container">
    <h1 class="pull-left">{{ page.title }}</h1>
    <ul class="pull-right breadcrumb">
      <li><a href="{{ site.baseurl }}">Home</a></li>
      <li><a href="{{ site.baseurl }}/handbook">Handbook</a></li>
      <li class="active">{{ page.title }}</li>
    </ul>
  </div>
</div>

<div class="handbook-chapter">

  <div class="bg-gray">
    <div class="container">
      <section class="row basic-info">
        <div class="col-md-4">
          <img class="img-responsive" src="{{ site.baseurl }}/img/handbook/{{ page.image }}">
        </div>
        <div class="col-md-4">
          <h2>{{ page.title }}</h2>
          <p>{{ page.intro }}</p>
        </div>
      </section>
    </div>
  </div>

  <div class="container">
    <section class="content row">
      <div class="col-md-4 table-of-contents hidden-xs hidden-sm">
        <ul class="list-unstyled toc-list">
        </ul>
      </div>
      <div id="study-content" class="col-md-8">
        {{ content }}
      </div>
    </section>
  </div>

</div>

<script>
  $(".box-start").nextUntil(".box-end").addClass("content-infobox");
  $(".collapse-start").each(function() {
    $(this).nextUntil(".collapse-end").wrapAll("<div class='collapse-wrap'></div>");
  });
  $(".collapse-wrap").each(function() {
    $(this).addClass("collapse").attr("id", $(this).prev().attr('content-id'));
  });
  $("#study-content h1").each(function() {
    $(".toc-list").append("<li><a href='#"+$(this).attr("id")+"'>"+$(this).text()+"</a></li>");
  });
</script>

